@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-orange {
    @apply text-[#FA7436];
  }
  .text-orange-fade {
    @apply text-[#FA743680];
  }
  .text-black {
    @apply text-[#22222273];
  }
  .text-gray-dark {
    @apply text-[#444444];
  }
  .text-gray {
    @apply text-[#666666];
  }
  .text-blue {
    @apply text-[#4086F4];
  }
  .text-yellow {
    @apply text-[#FFB60A];
  }
  .bg-orange {
    @apply bg-[#FA7436];
  }
  .bg-orange-light {
    @apply bg-[#fa74360c];
  }
  .bg-black {
    @apply bg-[#222222];
  }
  .bg-gray-light {
    @apply bg-[#E5E5E5];
  }
  .bg-white {
    @apply bg-[#FFFCFB];
  }
  .bg-light {
    @apply bg-[#F7F8FC];
  }

  .icon-gray {
    @apply text-[#999999];
  }
  .icon-light {
    @apply text-[#E5E5E5];
  }
  .active {
    @apply text-orange;
    border-bottom: solid 2px #fa7436;
  }
  .btn {
    @apply bg-orange-500 text-white text-sm md:text-base px-6 py-3 rounded-lg shadow hover:bg-orange-600 transition;
  }
  html {
    scroll-behavior: smooth;
  }

  ::-webkit-scrollbar {
    width: 8px;
  }

  ::-webkit-scrollbar-thumb {
    background: #fa7436;
    border-radius: 4px;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: #fa7436b7;
  }

  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }

  body {
    overscroll-behavior: none;
    scroll-behavior: smooth;
  }
  .title {
    @apply text-3xl relative font-bold text-center mb-8  w-fit m-auto mt-7;
    &::after {
      content: "";
      @apply absolute bottom-[-10px] left-1/2 transform -translate-x-1/2;
      height: 4px;
      width: 80px;
      background: #f97316;
      border-radius: 2px;
    }
  }
}
